<!DOCTYPE html>
<html>
  <%- include("layout/head") %> 
  <body>
    <%- include("layout/nav") %> 
    <p class="welcome">Welcome, <%= user %>!</p>
    <div class="container-sm position-absolute rounded" id="update">
      <form action="/message" method="post" class="form rounded">
        <h3 class="title">Messages</h3>
        <div class="mb-3">
            <label for="username" class="form-label">Send a message</label>
            <input type="text" class="form-control" id="message" name="message" required>
        </div>
        <button type="submit" class="btn-primary">Submit</button>
          <p>
            <% messages.forEach(message => { %>
              <%= message.whosent.username %>: <%= message.messages %> <br> 
          <% }); %> 
          </p>
        </form>
      </div>
  </body>
</html>