<!DOCTYPE html>
<html>
  <%- include("layout/head") %> 
    <body>
        <%- include("layout/nav") %> 
        <div>
            <div class="p-5">            
                <form action="/search" method="post">
                    <label for="">search user</label> <br>
                    <input type="text" id="user_search" name="users_search" placeholder="Username"> <br>
                    <button class="btn" type="submit">search</button>
                </form>
            </div>
        </div>
            <div class="things">
            <% users.forEach(users => { %>
                <div class="p-3 item">
                    <a href="user/<%= users.id %> ">
                        <img class="logo w-10" src="https://pbs.twimg.com/profile_images/1100594156718702593/_p_SyfuH_400x400.png" alt="">
                        <h2><%= users.username %></h2>
                        <p><%= users.cash %>$</p>
                    </a>
                </div>
            <% }); %>
            </div>
        </div>
    </body>
</html>